openapi: 3.0.3
info:
  title: KoboNFT Platform API
  description: |
    Comprehensive API documentation for the KoboNFT platform.
    
    ## Features
    - NFT Minting with AI generation
    - Battle competitions and tournaments
    - Collaborative NFT creation
    - DAO governance
    - Gamification and achievements
    - Gift wrapping and unwrapping
    
    ## Authentication
    All endpoints require Supabase authentication via JWT tokens.
    Include the token in the Authorization header:
    ```
    Authorization: Bearer <your-jwt-token>
    ```
  version: 1.0.0
  contact:
    name: KoboNFT Support
    email: support@kobo-nft.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.kobo-nft.com/v1
    description: Production server
  - url: https://staging-api.kobo-nft.com/v1
    description: Staging server
  - url: http://localhost:54321/functions/v1
    description: Local development

tags:
  - name: Minting
    description: NFT minting operations
  - name: Battles
    description: Battle competitions and tournaments
  - name: Collaborations
    description: Collaborative NFT creation
  - name: Governance
    description: DAO governance and voting
  - name: Gamification
    description: XP, levels, and achievements
  - name: Gifts
    description: NFT gift wrapping
  - name: Compliance
    description: Copyright and content compliance

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          description: Additional error details

    NFTMetadata:
      type: object
      required:
        - name
        - description
        - image
      properties:
        name:
          type: string
          example: "Cosmic Dragon #42"
        description:
          type: string
          example: "AI-generated fantasy art"
        image:
          type: string
          format: uri
          example: "ipfs://QmX..."
        attributes:
          type: array
          items:
            type: object
            properties:
              trait_type:
                type: string
              value:
                oneOf:
                  - type: string
                  - type: number
        animation_url:
          type: string
          format: uri
        external_url:
          type: string
          format: uri
        properties:
          type: object
          properties:
            type:
              type: string
              enum: [IMAGE, VIDEO, AUDIO]
            generationMethod:
              type: string
              enum: [AI_GENERATED, MANUAL_UPLOAD, REMIXED]
            creator:
              type: string
            copyrightAuditHash:
              type: string

    MintRequest:
      type: object
      required:
        - to
        - nftType
        - generationMethod
      properties:
        to:
          type: string
          description: Recipient wallet address
          example: "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb"
        uri:
          type: string
          description: IPFS URI for metadata
          example: "ipfs://QmX..."
        nftType:
          type: integer
          enum: [0, 1, 2]
          description: "0: IMAGE, 1: VIDEO, 2: AUDIO"
        generationMethod:
          type: integer
          enum: [0, 1, 2]
          description: "0: AI_GENERATED, 1: MANUAL_UPLOAD, 2: REMIXED"
        copyrightAuditHash:
          type: string
          description: SHA-256 hash of copyright audit
        metadata:
          $ref: '#/components/schemas/NFTMetadata'
        skipComplianceScan:
          type: boolean
          default: false

    MintResponse:
      type: object
      properties:
        success:
          type: boolean
        transactionHash:
          type: string
          example: "0x123..."
        tokenId:
          type: string
          example: "42"
        complianceScanResult:
          $ref: '#/components/schemas/ComplianceScanResult'
        requiresReview:
          type: boolean

    ComplianceScanResult:
      type: object
      properties:
        status:
          type: string
          enum: [passed, warning, blocked]
        outputId:
          type: string
        scanTimestamp:
          type: string
          format: date-time
        flaggedTerms:
          type: array
          items:
            type: string
        flaggedCategories:
          type: array
          items:
            type: string
        blockedContent:
          type: array
          items:
            type: object
        similarityMatches:
          type: array
          items:
            type: object
        recommendations:
          type: array
          items:
            type: string
        remediationSteps:
          type: array
          items:
            type: string
        complianceScore:
          type: number
          minimum: 0
          maximum: 100
        reverseSearchResult:
          $ref: '#/components/schemas/ReverseImageSearchResult'

    ReverseImageSearchResult:
      type: object
      properties:
        totalMatches:
          type: integer
        matches:
          type: array
          items:
            type: object
            properties:
              score:
                type: number
              imageUrl:
                type: string
              domain:
                type: string
              crawlDate:
                type: string
              backlinks:
                type: integer
        highestScore:
          type: number
        isAboveThreshold:
          type: boolean
        threshold:
          type: number

    Battle:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        theme:
          type: string
        battleType:
          type: string
          enum: [AI_VS_HUMAN, REMIX_COMPETITION, TIME_CHALLENGE, THEME_BATTLE, TOURNAMENT]
        status:
          type: string
          enum: [upcoming, registration, active, voting, completed, cancelled]
        registrationStart:
          type: string
          format: date-time
        registrationEnd:
          type: string
          format: date-time
        battleStart:
          type: string
          format: date-time
        battleEnd:
          type: string
          format: date-time
        votingEnd:
          type: string
          format: date-time
        maxParticipants:
          type: integer
        entryFee:
          type: string
        prizePool:
          type: string
        prizeDistribution:
          type: array
          items:
            type: number
        winnerId:
          type: string
        participants:
          type: array
          items:
            type: string

    CollabSession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        nftId:
          type: string
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [pending, active, completed, cancelled]
        collabType:
          type: string
          enum: [sequential, parallel, merge, battle-collab]
        maxContributors:
          type: integer
        contributionDeadline:
          type: string
          format: date-time
        votingEnabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time

    UserGamification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        total_xp:
          type: integer
        current_level:
          type: integer
        xp_to_next_level:
          type: integer
        streak_days:
          type: integer
        last_activity_date:
          type: string
          format: date-time

    GiftWrap:
      type: object
      properties:
        id:
          type: string
          format: uuid
        gift_id:
          type: integer
        chain:
          type: string
        token_id:
          type: integer
        contract_address:
          type: string
        sender_address:
          type: string
        recipient_address:
          type: string
        message_encrypted:
          type: string
        status:
          type: string
          enum: [pending, unwrapped, cancelled]
        wrap_tx_hash:
          type: string
        unwrap_tx_hash:
          type: string
        created_at:
          type: string
          format: date-time

paths:
  /copyright-precheck:
    post:
      tags:
        - Compliance
      summary: Perform copyright compliance scan
      description: |
        Comprehensive compliance scanning including:
        - Prompt text analysis
        - Trademark detection
        - NSFW filtering
        - Reverse image search
        - Blocklist checking
      operationId: copyrightPrecheck
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - promptText
                - aiEngine
                - outputType
              properties:
                promptText:
                  type: string
                  example: "A dragon in space"
                aiEngine:
                  type: string
                  example: "stable-diffusion"
                outputType:
                  type: string
                  enum: [image, video, audio]
                outputUrl:
                  type: string
                  format: uri
                isRemix:
                  type: boolean
                parentOutputId:
                  type: string
      responses:
        '200':
          description: Compliance scan completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceScanResult'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
        '500':
          description: Server error

  /battles:
    get:
      tags:
        - Battles
      summary: List active battles
      description: Retrieve all active and upcoming battles
      operationId: listBattles
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [upcoming, registration, active, voting, completed]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of battles
          content:
            application/json:
              schema:
                type: object
                properties:
                  battles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Battle'
                  total:
                    type: integer

    post:
      tags:
        - Battles
      summary: Create new battle
      description: Create a new battle competition
      operationId: createBattle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - description
                - theme
                - battleType
              properties:
                title:
                  type: string
                description:
                  type: string
                theme:
                  type: string
                battleType:
                  type: string
                  enum: [AI_VS_HUMAN, REMIX_COMPETITION, TIME_CHALLENGE, THEME_BATTLE, TOURNAMENT]
                maxParticipants:
                  type: integer
                entryFee:
                  type: string
                prizePool:
                  type: string
      responses:
        '201':
          description: Battle created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Battle'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized

  /collaborations:
    get:
      tags:
        - Collaborations
      summary: List collaboration sessions
      operationId: listCollaborations
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, active, completed, cancelled]
      responses:
        '200':
          description: List of collaborations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CollabSession'

    post:
      tags:
        - Collaborations
      summary: Create collaboration session
      operationId: createCollaboration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - description
                - collabType
                - maxContributors
              properties:
                title:
                  type: string
                description:
                  type: string
                collabType:
                  type: string
                  enum: [sequential, parallel, merge, battle-collab]
                maxContributors:
                  type: integer
                contributionDeadline:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Collaboration created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollabSession'

  /gamification/profile:
    get:
      tags:
        - Gamification
      summary: Get user gamification profile
      operationId: getGamificationProfile
      responses:
        '200':
          description: User gamification profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserGamification'

  /gamification/award-xp:
    post:
      tags:
        - Gamification
      summary: Award XP to user
      operationId: awardXP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - xpAmount
                - activityType
              properties:
                xpAmount:
                  type: integer
                activityType:
                  type: string
                  enum: [mint, battle_win, collab, challenge, achievement, vote, gift_sent, gift_unwrapped]
                activityId:
                  type: string
      responses:
        '200':
          description: XP awarded
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_xp:
                    type: integer
                  current_level:
                    type: integer
                  level_up:
                    type: boolean
                  new_achievements:
                    type: array
                    items:
                      type: object

  /gifts:
    post:
      tags:
        - Gifts
      summary: Create gift wrap
      operationId: createGiftWrap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - giftId
                - tokenId
                - contractAddress
                - senderAddress
                - recipientAddress
                - wrapTxHash
              properties:
                giftId:
                  type: integer
                tokenId:
                  type: integer
                contractAddress:
                  type: string
                senderAddress:
                  type: string
                recipientAddress:
                  type: string
                message:
                  type: string
                wrapTxHash:
                  type: string
      responses:
        '201':
          description: Gift wrap created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiftWrap'

  /gifts/{giftId}/unwrap:
    post:
      tags:
        - Gifts
      summary: Unwrap gift
      operationId: unwrapGift
      parameters:
        - name: giftId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - unwrapTxHash
              properties:
                unwrapTxHash:
                  type: string
      responses:
        '200':
          description: Gift unwrapped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GiftWrap'
